@use 'variables';

.main {
	margin: auto;
	padding: 40px 80px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;

	&__filtros {
		display: flex;
		gap: 10px;
	}

	&__titulo {
		margin-bottom: 20px;
	}

	&__grid {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(6, 1fr);
	}

	&__media-titulo {
		font-weight: 600;
		text-align: center;
	}

	&__media-fecha {
		text-align: center;
		font-size: 14px;
	}

	&__media-img {
		width: 100%;
		vertical-align: top;
		border-radius: 10px;
		margin-bottom: 10px;
		background: variables.$color-btn;
		min-height: 170px;
	}

	&__paginacion {
		display: flex;
		justify-content: center;
		gap: 20px;
	}
}

/* Media query para dispositivos móviles (menos de 768px de ancho) */
@media (max-width: 767px) {
	.main {
		padding: 20px 40px; /* Reducir el padding para aprovechar el espacio */
		margin-left: -160px;
	}

	.main__grid {
		grid-template-columns: repeat(2, 1fr); /* Cambiar el grid a 2 columnas */
	}
}

/* Media query para tabletas (entre 768px y 1024px de ancho) */
@media (min-width: 768px) and (max-width: 1024px) {
	.main__grid {
		grid-template-columns: repeat(4, 1fr); /* Cambiar el grid a 4 columnas */
	}
}

/* Media query para ordenadores (más de 1024px de ancho) */
@media (min-width: 1025px) {
	/* No hace falta cambiar nada, se aplica el estilo por defecto */
}