@use 'variables';

.sidebar {
	background: variables.$color-fondo2;
	padding: 0 20px;

	&__logo {
		margin: 30px auto;
		width: 90%;
		max-width: 100px;
	}

	&__logo-imagen {
		width: 100%;
	}

	&__titulo {
		text-align: center;
		margin-bottom: 20px;
	}

	&__generos {
		margin-bottom: 40px;
	}

	&__contenedor-generos {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	&__años {
		margin-bottom: 40px;
	}

	&__contenedor-inputs {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	&__input {
		width: 100%;
		text-align: center;
		padding: 10px 15px;
		color: #fff;
		font-family: variables.$fuente-primaria;
		border: none;
		background: variables.$color-btn;
		border-radius: 20px;
		font-weight: 600;
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;
		&--error {
			outline: 2px solid red;
		}
	}

	&__buscar {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/* Media query para dispositivos móviles (menos de 768px de ancho) */
@media (max-width: 767px) {
	.sidebar {
		width: 50%; /* Reducir el ancho de la barra lateral en tabletas */
	}

	.sidebar__contenedor-generos {
		grid-template-columns: 1fr; /* Cambiar el grid de géneros a una sola columna */
	}
}

/* Media query para ordenadores (más de 1024px de ancho) */
@media (min-width: 1025px) {
	/* No hace falta cambiar nada, se aplica el estilo por defecto */
}